{#
    @diegotorres50: Esta es la plantilla del login de Qualisoft

    #}

{#Heredamos ek layout con todas las caracteristicas del frontend#}
{% extends 'QualisoftAppBundle::layout.html.twig' %} 

{#
    titulo de la pagina
    #}
{% block title %}
    {{ view_info.title }}
{% endblock %}

{#
    titulo del modulo
    #}
{% block module_title %}
    {{ view_info.module_title }}
{% endblock %}    

{#
    subtitulo del modulo
    #}
{% block module_subtitle %}
    {{ view_info.module_subtitle }}
{% endblock %}

{#
    descripcion del modulo
    #}
{% block content_lead %}
    {{ view_info.module_lead }}
{% endblock %}

{#
    contenido de la pagina
    #}
{% block x_content %}

    {#
        contenido de las alertas debe ir debtro del content
        #}
    {% block content_alerts %}

        {% for flashMessage in app.session.flashbag.get('warning_msg') %}

            {#
            Incluimos la plantilla de la alerta
            #}
            {{ include('QualisoftAppBundle:Layout:alerts.html.twig', { 
                'msgClass': 'alert-warning', 
                'msgGlyphicon': 'glyphicon-exclamation-sign',
                'msgTitle': 'Warning!',
                'msgText': flashMessage }
                ) 
            }}

        {% endfor %} 

        {% for flashMessage in app.session.flashbag.get('info_msg') %}

            {#
            Incluimos la plantilla de la alerta
            #}
            {{ include('QualisoftAppBundle:Layout:alerts.html.twig', { 
                'msgClass': 'alert-info', 
                'msgTitle': 'Info',
                'msgText': flashMessage }
                ) 
            }}

        {% endfor %}

        {% for flashMessage in app.session.flashbag.get('error_msg') %}

            {#
            Incluimos la plantilla de la alerta
            #}
            {{ include('QualisoftAppBundle:Layout:alerts.html.twig', { 
                'msgClass': 'alert-danger', 
                'msgGlyphicon': 'glyphicon-exclamation-sign',
                'msgTitle': 'Error!',
                'msgText': flashMessage }
                ) 
            }}        

        {% endfor %} 

        {% for flashMessage in app.session.flashbag.get('success_msg') %}

            {#
            Incluimos la plantilla de la alerta
            #}
            {{ include('QualisoftAppBundle:Layout:alerts.html.twig', { 
                'msgClass': 'alert-success', 
                'msgTitle': ':)',
                'msgText': flashMessage }
                ) 
            }} 

        {% endfor %}                

    {% endblock %}

    {#
    Aqui va el formulario
    #}
    {{ form_start(form, {'attr': {'id': 'login-form', 'class': 'form-horizontal form-label-left', 'data-parsley-validate': null}}) }}

        {#
        Incluimos la plantilla de la alerta y
        Renderizamos la lista de errores como resultado de la validacion del formulario
        #}
        {% if form_errors(form) is not empty %}
            {{ include('QualisoftAppBundle:Layout:alerts.html.twig', { 
                'msgClass': 'alert-warning', 
                'msgGlyphicon': 'glyphicon-exclamation-sign',
                'msgTitle': 'Warning!',
                'msgText': form_errors(form) } 
                ) 
            }}
        {% endif %}            
        {# ojo, form_errors(form) no escapa las etiquetas <ul><li>, hay que revisarlo#}

        <span class="section">Login</span>

        <div class="item form-group">
            {{ form_label(form.userId) }}
            <div class="col-md-6 col-sm-6 col-xs-12">
                {{ form_widget(form.userId) }}
                {{ form_errors(form.userId) }}
            </div>
        </div>

        <div class="item form-group">
            {{ form_label(form.userPass) }}
            <div class="col-md-6 col-sm-6 col-xs-12">
                {{ form_widget(form.userPass) }}
                {{ form_errors(form.userPass) }}
            </div>
        </div>

        <div class="ln_solid"></div>
        <div class="form-group">
            <div class="col-md-6 col-md-offset-3">
                {{ form_widget(form.sendData) }}
            </div>
        </div>

    {{ form_end(form) }}    

{% endblock %}


{#
    Incluimos en el footer la logica del validator
    #}
{% block footer_javascripts %}

    {{ parent() }}

    <!-- form validation: mas info aqui: http://parsleyjs.org/doc/index.html -->
    <script type="text/javascript" src="{{ asset('bundles/qualisoftapp/js/parsley/parsley.min.js') }}"></script>    
    <!-- form validation -->
    <script type="text/javascript">
    $(document).ready(function () {
        $.listen('parsley:field:validate', function () {
            validateFront();
        });
        $('#login-form .btn').on('click', function () {
            $('#login-form').parsley().validate();
            validateFront();
        });
        var validateFront = function () {
            if (true === $('#login-form').parsley().isValid()) {
                $('.bs-callout-info').removeClass('hidden');
                $('.bs-callout-warning').addClass('hidden');
            } else {
                $('.bs-callout-info').addClass('hidden');
                $('.bs-callout-warning').removeClass('hidden');
            }
        };
    });

    try {
        hljs.initHighlightingOnLoad();
    } catch (err) {}
    </script>
    <!-- /form validation -->

{% endblock %}