{# @diegotorres50: Esta es la plantilla del login de Qualisoft #}

{#Heredamos ek layout con todas las caracteristicas del frontend#}
{% extends 'QualisoftAppBundle::layout.html.twig' %} 

{% block row_container %}
    <!-- Inicia primer super contenedor de modulos -->
    <div class="row">

        <!-- Inicia primer modulo del super contenedor de modulos -->
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">

                <!-- bloque del subtitulo //-->
                <div class="x_title">

                    <h2>Lista de usuarios</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <!-- Bloque de menu de herramientas //-->
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="{{ path('qualisoft_admin_user_general', { 'offset': 0, 'row_count': 5, 'filter': 'disabled'}) }}">Remover filtros</a></li>
                            </ul>
                        </li>
                        <!-- Fin bloque de opcion de herramientas -->
                        <li><a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>

                </div>
                <!-- /bloque del subtitulo //-->

                <div class="x_content">
      
                    <!-- Alertas aqui, las clases diferenciaodoras: alert-success, alert-info
                    alert-warning y alert-danger -->

                    {% for flashMessage in app.session.flashbag.get('warning_msg') %}

                        {#
                        Incluimos la plantilla de la alerta
                        #}
                        {{ include('QualisoftAppBundle:Layout:alerts.html.twig', { 
                            'msgClass': 'alert-warning', 
                            'msgGlyphicon': 'glyphicon-exclamation-sign',
                            'msgTitle': 'Warning!',
                            'msgText': flashMessage }
                            ) 
                        }}

                    {% endfor %} 

                    {% for flashMessage in app.session.flashbag.get('info_msg') %}

                        {#
                        Incluimos la plantilla de la alerta
                        #}
                        {{ include('QualisoftAppBundle:Layout:alerts.html.twig', { 
                            'msgClass': 'alert-info', 
                            'msgTitle': 'Info',
                            'msgText': flashMessage }
                            ) 
                        }}

                    {% endfor %}

                    {% for flashMessage in app.session.flashbag.get('error_msg') %}

                        {#
                        Incluimos la plantilla de la alerta
                        #}
                        {{ include('QualisoftAppBundle:Layout:alerts.html.twig', { 
                            'msgClass': 'alert-danger', 
                            'msgGlyphicon': 'glyphicon-exclamation-sign',
                            'msgTitle': 'Error!',
                            'msgText': flashMessage }
                            ) 
                        }}        

                    {% endfor %} 

                    {% for flashMessage in app.session.flashbag.get('success_msg') %}

                        {#
                        Incluimos la plantilla de la alerta
                        #}
                        {{ include('QualisoftAppBundle:Layout:alerts.html.twig', { 
                            'msgClass': 'alert-success', 
                            'msgTitle': ':)',
                            'msgText': flashMessage }
                            ) 
                        }} 

                    {% endfor %} 

                    <!--
                    <div class="alert alert-success alert-dismissible fade in" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
                        </button>
                        <strong>Holy guacamole!</strong> Best check yo self, you're not looking too good.
                    </div>
                    -->

                    <!--  Fin de alertas -->

                    <p>Modique un usuario.</p>

                    <!-- contenido principal aqui -->

                    {#
                    Aqui va el formulario
                    #}
                    {{ form_start(form, {'attr': {'id': 'login-form', 'class': 'form-horizontal form-label-left', 'data-parsley-validate': null}}) }}

                        {#
                        Incluimos la plantilla de la alerta y
                        Renderizamos la lista de errores como resultado de la validacion del formulario
                        #}
                        {% if form_errors(form) is not empty %}
                            {{ include('QualisoftAppBundle:Layout:alerts.html.twig', { 
                                'msgClass': 'alert-warning', 
                                'msgGlyphicon': 'glyphicon-exclamation-sign',
                                'msgTitle': 'Warning!',
                                'msgText': form_errors(form) } 
                                ) 
                            }}
                        {% endif %}            
                        {# ojo, form_errors(form) no escapa las etiquetas <ul><li>, hay que revisarlo#}

                        <span class="section">Login</span>

                        <div class="item form-group">
                            {{ form_label(form.userId) }}
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                {{ form_widget(form.userId) }}
                                {{ form_errors(form.userId) }}
                            </div>
                        </div>

                        <div class="item form-group">
                            {{ form_label(form.userPass) }}
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                {{ form_widget(form.userPass) }}
                                {{ form_errors(form.userPass) }}
                            </div>
                        </div>

                        <div class="ln_solid"></div>
                        <div class="form-group">
                            <div class="col-md-6 col-md-offset-3">
                                {{ form_widget(form.sendData) }}
                            </div>
                        </div>

                    {{ form_end(form) }}  

                    <!-- /fin contenido principal termina aqui -->

                </div>

            </div>

        </div>
        <!-- Fin primer modulo del super contenedor de modulos -->

    </div>
    <!-- Fin primer super contenedor de modulos -->

    <!-- En dadelante puede agregar mas super contenedores de modulos como se necesite en la vista -->
    <!-- Inicia primer super contenedor de modulos -->

    <!--
    <div class="row">

        Inicia primer modulo del super contenedor de modulos
        <div class="col-md-12 col-sm-12 col-xs-12">...</div>
        <div class="col-md-12 col-sm-12 col-xs-12">...</div>
        ...
        <div class="col-md-12 col-sm-12 col-xs-12">...</div>

    </div>
    -->

    <!--
    <div class="row">

        Inicia primer modulo del super contenedor de modulos
        <div class="col-md-12 col-sm-12 col-xs-12">...</div>
        <div class="col-md-12 col-sm-12 col-xs-12">...</div>
        ...
        <div class="col-md-12 col-sm-12 col-xs-12">...</div>

    </div>
    -->

    <!--
    <div class="row">

        Inicia primer modulo del super contenedor de modulos
        <div class="col-md-12 col-sm-12 col-xs-12">...</div>
        <div class="col-md-12 col-sm-12 col-xs-12">...</div>
        ...
        <div class="col-md-12 col-sm-12 col-xs-12">...</div>

    </div>
    -->

{% endblock %}

{#
    Incluimos en el footer la logica del validator
    #}
{% block footer_javascripts %}

    {{ parent() }}

    <!-- form validation: mas info aqui: http://parsleyjs.org/doc/index.html -->
    <script type="text/javascript" src="{{ asset('bundles/qualisoftapp/js/parsley/parsley.min.js') }}"></script>    
    <!-- form validation -->
    <script type="text/javascript">
    $(document).ready(function () {
        $.listen('parsley:field:validate', function () {
            validateFront();
        });
        $('#login-form .btn').on('click', function () {
            $('#login-form').parsley().validate();
            validateFront();
        });
        var validateFront = function () {
            if (true === $('#login-form').parsley().isValid()) {
                $('.bs-callout-info').removeClass('hidden');
                $('.bs-callout-warning').addClass('hidden');
            } else {
                $('.bs-callout-info').addClass('hidden');
                $('.bs-callout-warning').removeClass('hidden');
            }
        };
    });

    try {
        hljs.initHighlightingOnLoad();
    } catch (err) {}
    </script>
    <!-- /form validation -->

{% endblock %}