<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}Qualisoft APP | {% endblock %}</title>

    <!-- Bootstrap core CSS -->
    {% block stylesheets %}
    <link href="{{ asset('bundles/qualisoftapp/css/bootstrap.min.css') }}" rel="stylesheet">

    <link href="{{ asset('bundles/qualisoftapp/fonts/css/font-awesome.min.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/qualisoftapp/css/animate.min.css') }}" rel="stylesheet">

    <!-- Custom styling plus plugins -->
    <link href="{{ asset('bundles/qualisoftapp/css/custom.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/qualisoftapp/css/icheck/flat/green.css') }}" rel="stylesheet">
    {% endblock %}

    {% block header_javascripts %}
    <script src="{{ asset('bundles/qualisoftapp/js/jquery.min.js') }}"></script>
    {% endblock %}
    

    {% block IE_javascripts %}
    <!--[if lt IE 9]>
        <script src="../assets/js/ie8-responsive-file-warning.js"></script>
        <![endif]-->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    {% endblock %}    

</head>


<body class="nav-md">

    <div class="container body">


        <div class="main_container">

            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">

                    <div class="navbar nav_title" style="border: 0;">
                        <a href="index.html" class="site_title"><i class="fa fa-paw"></i> <span>Qualisoft.CO!</span></a>
                    </div>
                    <div class="clearfix"></div>

                    <!-- menu profile quick info -->
                    {% if app.session.get('userId') %} {#si existe la sesion, mostramos este modulo de informacion de usuario #}

                        {#
                        Incluimos la plantilla del profile quick info
                        #}
                        {{ include('QualisoftAppBundle:UserZone:profile_quickinfo.html.twig')}} 

                    {% endif %}
                    <!-- /menu profile quick info -->

                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">

                        {% block sidebar %}    
                        <div class="menu_section">
                            <h3>General</h3>
                            <ul class="nav side-menu">
                                <li><a><i class="fa fa-home"></i> Home <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu" style="display: none">
                                        <li><a href="index.html">Escritorio 1</a>
                                        </li>
                                        <li><a href="index.html">Escritorio 2</a>
                                        </li>
                                        <li><a href="index3.html">Escritorio 3</a>
                                        </li>
                                    </ul>
                                </li>
                                <!-- @diegotorres50: copiar el bloque <li><a><i class="fa fa-xxx"> para agregar mas sub menus, aqui la clase 'fa-home'
                                se usa para personalizar el icono del modulo.
                                //-->
                            </ul>
                        </div>
                        <!-- @diegotorres50 para otros bloques de menu categorizados, duplique <div class="menu_section"> y
                        entre <h3> indique el nombre de ese bloques de menus.
                        //-->

                        {#
                        Incluimos la plantilla del menu de usuarios
                        #}

                        {% 
                            set data = {
                                0: {
                                    'menu_label': 'Maestros',
                                    'submenus': {
                                                    0: {
                                                        'submenu_label': 'Usuarios',
                                                        'submenu_class': 'home',
                                                        'submenu_paths': {
                                                                            0: {
                                                                                'url_path': 'qualisoft_admin_user_list',
                                                                                'lbl_path': 'Ver lista'
                                                                                } 
                                                                        }        
                                                    }
                                                 }   

                                    }
                                }  
                        %}

                        {{ include('QualisoftAppBundle:Layout:menu_section.html.twig', { 
                            'data': data 
                            }
                            ) 
                        }}

                        {% endblock %}

                    </div>
                    <!-- /sidebar menu -->

                    <!-- /menu footer buttons -->
                    <div class="sidebar-footer hidden-small">
                        {% block footerbuttons %}
                        <a data-toggle="tooltip" data-placement="top" title="Settings">
                            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                            <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="Lock">
                            <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="Logout" href="{{ path('qualisoft_security_logout') }}">
                            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                        </a>
                        {% endblock %}
                    </div>
                    <!-- /menu footer buttons -->
                </div>
            </div>

            <!-- top navigation -->
            {#
                Incluimos la plantilla de la barra de navegacion
             #}
            {{ include('QualisoftAppBundle:Layout:top_nav.html.twig')}} 
            <!-- /top navigation -->

            <!-- page content -->
            <div class="right_col" role="main">

                <div class="">
                    <div class="page-title">
                        <!-- bloque del titulo principal //-->
                        <div class="title_left">
                            <h3>{% block module_title %}T&iacute;tulo principal {% endblock %}</h3>
                        </div>
                        <!-- /bloque del titulo principal //-->

                        <!-- buscador -->
                        <div class="title_right">
                            {% block title_right %}
                            <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Buscar...">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button">Ir!</button>
                                    </span>
                                </div>
                            </div>
                            {% endblock %}
                        </div>
                        <!-- /buscador -->

                    </div>
                    <div class="clearfix"></div>

                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="x_panel">
                                <!-- bloque del subtitulo //-->
                                <div class="x_title">
                                    {% block x_title %}
                                    <h2>{% block module_subtitle %}Subt&iacute;tulo{% endblock %}</h2>
                                    <ul class="nav navbar-right panel_toolbox">
                                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                        </li>
                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                            <ul class="dropdown-menu" role="menu">
                                                <li><a href="#">Settings 1</a>
                                                </li>
                                                <li><a href="#">Settings 2</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li><a class="close-link"><i class="fa fa-close"></i></a>
                                        </li>
                                    </ul>
                                    <div class="clearfix"></div>
                                    {% endblock %}
                                </div>
                                <!-- /bloque del subtitulo //-->


                                <div class="x_content">
                                    {% block x_content %}

                                    {% block content_alerts %}    
                                    <!-- Alertas aqui, las clases diferenciaodoras: alert-success, alert-info
                                    alert-warning y alert-danger -->
                                    <div class="alert alert-success alert-dismissible fade in" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
                                        </button>
                                        <strong>Holy guacamole!</strong> Best check yo self, you're not looking too good.
                                    </div>
                                    {% endblock %}

                                    {% block content_lead %}<p>Aqui va un lead  .</p>{% endblock %}
                                    <!-- contenido principal aqui -->

                                    <!-- /contenido principal aqui -->
                                    {% endblock %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- footer content -->
                <footer>
                    {% block footer %}
                    <div class="">
                        <p class="pull-right">Qualisoft.CO! una aplicaci&oacute;n de <a>diegotorres.info</a>. |
                            <span class="lead"> <i class="fa fa-paw"></i> Qualisoft.CO!</span>
                        </p>
                    </div>
                    <div class="clearfix"></div>
                    {% endblock %}
                </footer>
                <!-- /footer content -->

            </div>
            <!-- /page content -->
        </div>

    </div>

    <div id="custom_notifications" class="custom-notifications dsp_none">
        <ul class="list-unstyled notifications clearfix" data-tabbed_notifications="notif-group">
        </ul>
        <div class="clearfix"></div>
        <div id="notif-group" class="tabbed_notifications"></div>
    </div>

    {% block footer_javascripts %}
    <script src="{{ asset('bundles/qualisoftapp/js/bootstrap.min.js') }}"></script>

    <!-- chart js //-->
    <script src="{{ asset('bundles/qualisoftapp/js/chartjs/chart.min.js') }}"></script> 
    <!-- bootstrap progress js //--> 
    <script src="{{ asset('bundles/qualisoftapp/js/progressbar/bootstrap-progressbar.min.js') }}"></script> 
    <script src="{{ asset('bundles/qualisoftapp/js/nicescroll/jquery.nicescroll.min.js') }}"></script> 
    <!-- icheck //-->
    <script src="{{ asset('bundles/qualisoftapp/js/icheck/icheck.min.js') }}"></script> 

    <script src="{{ asset('bundles/qualisoftapp/js/custom.js') }}"></script>
    <!-- dropzone //-->
    <script src="{{ asset('bundles/qualisoftapp/js/dropzone/dropzone.js') }}"></script>
    {% endblock %} 

</body>

</html>