{#
    @diegotorres50: Esta es la plantilla de la lista de usuarios

    #}

{#Heredamos ek layout con todas las caracteristicas del frontend#}
{% extends 'QualisoftAppBundle::layout.html.twig' %} 

{#
    titulo de la pagina
    #}
{% block title %}
    {{ view_info.title }}
{% endblock %}

{#
    titulo del modulo
    #}
{% block module_title %}
    {{ view_info.module_title }}
{% endblock %}    

{#
    subtitulo del modulo
    #}
{% block module_subtitle %}
    {{ view_info.module_subtitle }}
{% endblock %}

{#
    descripcion del modulo
    #}
{% block content_lead %}
    {{ view_info.module_lead }}
{% endblock %}

{#
    contenido de la pagina
    #}
{% block x_content %}

    {#
        contenido de las alertas debe ir debtro del content
        #}
    {% block content_alerts %}

        {% for flashMessage in app.session.flashbag.get('warning_msg') %}

            {#
            Incluimos la plantilla de la alerta
            #}
            {{ include('QualisoftAppBundle:Layout:alerts.html.twig', { 
                'msgClass': 'alert-warning', 
                'msgGlyphicon': 'glyphicon-exclamation-sign',
                'msgTitle': 'Warning!',
                'msgText': flashMessage }
                ) 
            }}

        {% endfor %} 

        {% for flashMessage in app.session.flashbag.get('info_msg') %}

            {#
            Incluimos la plantilla de la alerta
            #}
            {{ include('QualisoftAppBundle:Layout:alerts.html.twig', { 
                'msgClass': 'alert-info', 
                'msgTitle': 'Info',
                'msgText': flashMessage }
                ) 
            }}

        {% endfor %}

        {% for flashMessage in app.session.flashbag.get('error_msg') %}

            {#
            Incluimos la plantilla de la alerta
            #}
            {{ include('QualisoftAppBundle:Layout:alerts.html.twig', { 
                'msgClass': 'alert-danger', 
                'msgGlyphicon': 'glyphicon-exclamation-sign',
                'msgTitle': 'Error!',
                'msgText': flashMessage }
                ) 
            }}        

        {% endfor %} 

        {% for flashMessage in app.session.flashbag.get('success_msg') %}

            {#
            Incluimos la plantilla de la alerta
            #}
            {{ include('QualisoftAppBundle:Layout:alerts.html.twig', { 
                'msgClass': 'alert-success', 
                'msgTitle': ':)',
                'msgText': flashMessage }
                ) 
            }} 

        {% endfor %}                

    {% endblock %}

    {#
    Aqui va el contenido principal
    #}





    <div class="accordion" id="accordion1" role="tablist" aria-multiselectable="true">
        <div class="panel">
            <a class="panel-heading" role="tab" id="headingOne1" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne1" aria-expanded="true" aria-controls="collapseOne">
                <h4 class="panel-title">Lista de resultados</h4>
            </a>
            <div id="collapseOne1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne" aria-expanded="true">
                <div class="panel-body">






                    {% if rows_found %} {#En caso de no haber registros encontrados no mostrar la grilla#}

                    <table id="example" class="table table-striped responsive-utilities jambo_table">
                        <thead>
                            <tr class="headings">
                                {#Renderizamos las columnas que queremos mostrar en la grilla#}
                                {% for col in cols %}
                                    <th>{{ col }}</th>
                                {% endfor %}

                            </tr>
                        </thead>

                        <tbody>
                            {#Renderizamos los registros encontrados en la grilla, aqui las filas#}
                            {% for row in rows_found %}
                                <tr class="even pointer">

                                    {#Renderizamos los registros encontrados en la grilla, aqui las columnas#}
                                    {% for col in row %}
                                        <td class=" ">{{ col }}</td>
                                    {% endfor %}    

                                </tr>
                            {% endfor %}

                        </tbody>

                    </table>
                    {#Aqui el footer informaltivo de la grilla#}
                    <div class="dataTables_info" id="example_info">{{ rows_found|length }} de {{ total }} registros en {{ pages_total }} páginas</div>
                    <div class="dataTables_paginate paging_full_numbers" id="example_paginate">
                        <span>
                            {#Renderizamos el paginador de la grilla#}
                            {% for i in 1..pages_total %}
                                <a tabindex="0" class="paginate_{% if current_page == i %}{{'active'}}{% else %}{{'button'}} {% endif %}" href="{{ path('qualisoft_admin_user_list', { 'offset': (i - 1) * page_records }) }}">{{ i }}</a> 
                            {% endfor %}    
                        </span>
                    </div>

                    {% endif %}





                </div>
            </div>
        </div>
        <div class="panel">
            <a class="panel-heading collapsed" role="tab" id="headingTwo1" data-toggle="collapse" data-parent="#accordion1" href="#collapseTwo1" aria-expanded="false" aria-controls="collapseTwo">
                <h4 class="panel-title">Busqueda avanzada</h4>
            </a>
            <div id="collapseTwo1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo" aria-expanded="false" style="height: 0px;">
                <div class="panel-body">


                    <div id="example_length" class="dataTables_length">
                        <label>
                            Mostrar 
                            <select size="1" style="width: 56px;padding: 6px;" name="example_length" aria-controls="example">
                                <option value="10">10</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                            </select>
                             entries
                         </label>
                     </div>
                    <div class="dataTables_filter" id="example_filter">
                        <label>
                            Buscar todos los campos: 
                            <input type="text" aria-controls="example">
                        </label>
                        <a tabindex="0" class="btn btn-primary" id="example_first">Buscar</a>
                    </div>   

                </div>
            </div>
        </div>
        <div class="panel">
            <a class="panel-heading collapsed" role="tab" id="headingThree1" data-toggle="collapse" data-parent="#accordion1" href="#collapseThree1" aria-expanded="false" aria-controls="collapseThree">
                <h4 class="panel-title">Collapsible Group Item #3</h4>
            </a>
            <div id="collapseThree1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree" aria-expanded="false" style="height: 0px;">
                <div class="panel-body">
                    <p><strong>Collapsible Item 3 data</strong>
                    </p>
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor
                </div>
            </div>
        </div>
    </div>





{% endblock %}


{#
    Incluimos en el footer la logica del validator
    #}
{% block footer_javascripts %}

    {{ parent() }}



{% endblock %}





