{#
Aqui va el formulario
#}
{{ form_start(form_new_record, {'attr': {'id': 'new-record-form', 'class': 'form-horizontal form-label-left', 'data-parsley-validate': null}}) }}

    {#
    Incluimos la plantilla de la alerta y
    Renderizamos la lista de errores como resultado de la validacion del formulario
    #}
    {% if form_errors(form_new_record) is not empty %}
        {{ include('QualisoftAppBundle:Layout:alerts.html.twig', { 
            'msgClass': 'alert-warning', 
            'msgGlyphicon': 'glyphicon-exclamation-sign',
            'msgTitle': 'Warning!',
            'msgText': form_errors(form_new_record) } 
            ) 
        }}
    {% endif %}            
    {# ojo, form_errors(form) no escapa las etiquetas <ul><li>, hay que revisarlo#}

    <span class="section">Nuevo usuario</span>

    <div class="item form-group">
        {{ form_label(form_new_record.user_id) }}
        <div class="col-md-6 col-sm-6 col-xs-12">
            {{ form_widget(form_new_record.user_id) }}
            {{ form_errors(form_new_record.user_id) }}
        </div>
    </div>

    <div class="item form-group">
        {{ form_label(form_new_record.user_name) }}
        <div class="col-md-6 col-sm-6 col-xs-12">
            {{ form_widget(form_new_record.user_name) }}
            {{ form_errors(form_new_record.user_name) }}
        </div>
    </div>

    <div class="item form-group">
        {{ form_label(form_new_record.user_mail) }}
        <div class="col-md-6 col-sm-6 col-xs-12">
            {{ form_widget(form_new_record.user_mail) }}
            {{ form_errors(form_new_record.user_mail) }}
        </div>
    </div>    

    <div class="item form-group">
        {{ form_label(form_new_record.confirm_user_mail) }}
        <div class="col-md-6 col-sm-6 col-xs-12">
            {{ form_widget(form_new_record.confirm_user_mail) }}
            {{ form_errors(form_new_record.confirm_user_mail) }}
        </div>
    </div> 

    <div class="item form-group">
        {{ form_label(form_new_record.user_pass) }}
        <div class="col-md-6 col-sm-6 col-xs-12">
            {{ form_widget(form_new_record.user_pass) }}
            {{ form_errors(form_new_record.user_pass) }}
        </div>
    </div>

    <div class="item form-group">
        {{ form_label(form_new_record.confirm_user_pass) }}
        <div class="col-md-6 col-sm-6 col-xs-12">
            {{ form_widget(form_new_record.confirm_user_pass) }}
            {{ form_errors(form_new_record.confirm_user_pass) }}
        </div>
    </div>    

    <div class="ln_solid"></div>
    <div class="form-group">
        <div class="col-md-6 col-md-offset-3">
            {{ form_widget(form_new_record.cancelData) }}
            {{ form_widget(form_new_record.sendData) }}
        </div>
    </div>

{{ form_end(form_new_record) }}  
